.content {
  max-width: 800px;
  margin: auto;
  margin-top: 5rem;
}
.card_container {
  
}
.profile_header {
  background-color: antiquewhite;
  border-radius: 10px;
}
.profile_cover {
  min-height: 201px;
  max-height: 201px;
  background-color: azure;
  border-radius: 10px 10px 0 0;

}
.profile_cover-buttons {
  
}
.alternative-button {
  
}
/* 850 180 */
.alternative-button svg {
  
}
.settings-button {
  
}

.settings-button svg {
  
}
.profile_bottom-part {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  position: relative;
  height: 225px;
}
.profile_photo{
  position: relative;
}
.profile_photo img {
  position: absolute;
  top: -120px;
  width: 152px;
  height: 152px;
  border-radius: 50%;
}

.profile_info {
  padding: 1rem 0;
}
.profile-top {
  
}

.profile-name {
  
}

.profile-name svg {
  
}

.profile-location {
  
}

.profile-location svg {
  
}

.profile-center {
  
}

.profile-bottom {
  
}

.profile-bottom span {
  
}
.main-button {
  
}
.side-button {
  
}
